cmake-build-debug

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
CPack*
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
Makefile

.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/contentModel.xml

Box2D
rapidjson
libwebsockets
angryDriverServer
angryDriverServer.cbp
server.cbp

